.about {
    width: 60%;
    margin: 0 0 0 5rem;
    h3.title {
        font-family: Academy Engraved LET;
        font-size: 4.8rem;
        color: $gray2;
        border-bottom: 1px solid $gray2;
    }
    .about-profile {
        display: flex;
        justify-content: space-between;
        flex-direction: row-reverse;
        .profile-photo {
            border-radius: 50%;
            width: 200px;
            height: 200px;
            overflow: hidden;
            filter: saturate(70%);
           
            .profile-icon {
                width: 220%;
                margin-top: -178px;
                margin-left: -241px;
            }
        }
        .profile-text {
            width: 70%;
            font-size: 1.2rem;
            line-height: 1.8em;
        }
    }
}
