.skills {
    margin: 0 5rem 0 0;
    h4.title {
        font-family: Academy Engraved LET;
        font-size: 4.8rem;
        color: $gray2;
        border-bottom: 1px solid $gray2;
        text-align: end;
        width: 60%;
        margin: 0 0 0 40%;
        padding: 0;
    }
    .skills-photoshop {
        border-radius: 50%;
        background-color: $white;
        position: relative;
        width: 300px;
        height: 300px;
        box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 0.5);
        text-align: center;
        margin: 3rem 0 0 auto;
        .skills-photoshop-text {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            p.photoshop {
                font-family: Futura;
                font-size: 1.6rem;
            }
            p.photoshop-text {
                font-size: 1.2rem;
            }
        }
    }
    .skills-design {
        border-radius: 50%;
        background-color: $beige;
        position: relative;
        width: 300px;
        height: 300px;
        box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 0.5);
        text-align: center;
        margin: 0 300px 0 auto;
        .skills-design-text {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            p.design {
                font-family: Futura;
                font-size: 1.6rem;
            }
            p.design-text {
                font-size: 1.2rem;
            }
        }
    }
    .skills-cording {
        border-radius: 50%;
        background-color: $beige2;
        position: relative;
        width: 300px;
        height: 300px;
        box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 0.5);
        text-align: center;
        margin: 0 600px 0 auto;
        .skills-cording-text {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            p.cording {
                font-family: Futura;
                font-size: 1.6rem;
            }
            p.cording-text {
                font-size: 1.2rem;
            }
        }
    }
}
