@charset "UTF-8";
/* 文字コードの指定 */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap");
body {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 1.6rem;
  line-height: 1.75;
  background-color: #e8e3e3;
}
@media (min-width: 769px) {
  body {
    font-size: 1.6rem;
  }
}

* {
  box-sizing: border-box;
}

a {
  color: #fff;
  text-decoration: none;
}

img {
  width: 100%;
}

.header {
  margin: 10rem 0 3rem 0;
}
.header h1 {
  font-family: Futura;
  font-size: 2rem;
  font-weight: 100;
  text-align: center;
}
.header p.text {
  font-family: Futura;
  font-size: 1.2rem;
  padding: 0;
  margin: 0 3rem 0 0;
  text-align: center;
}
.header p.based {
  font-family: Futura;
  font-size: 1.2rem;
  padding: 0;
  margin: 0 0 0 3rem;
  text-align: center;
}

.carousel {
  position: relative;
}
.carousel .carousel img {
  width: 100%;
}
.carousel .carousel-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: Academy Engraved LET;
  font-size: 3rem;
  letter-spacing: 5rem;
  text-indent: 5rem;
  color: #fff;
  margin: 0;
  padding: 0;
  text-align: center;
  white-space: nowrap;
}

.about {
  width: 60%;
  margin: 0 0 0 5rem;
}
.about h3.title {
  font-family: Academy Engraved LET;
  font-size: 4.8rem;
  color: #333331;
  border-bottom: 1px solid #333331;
}
.about .about-profile {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
}
.about .about-profile .profile-photo {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  overflow: hidden;
  filter: saturate(70%);
}
.about .about-profile .profile-photo .profile-icon {
  width: 220%;
  margin-top: -178px;
  margin-left: -241px;
}
.about .about-profile .profile-text {
  width: 70%;
  font-size: 1.2rem;
  line-height: 1.8em;
}

.skills {
  margin: 0 5rem 0 0;
}
.skills h4.title {
  font-family: Academy Engraved LET;
  font-size: 4.8rem;
  color: #333331;
  border-bottom: 1px solid #333331;
  text-align: end;
  width: 60%;
  margin: 0 0 0 40%;
  padding: 0;
}
.skills .skills-photoshop {
  border-radius: 50%;
  background-color: #fff;
  position: relative;
  width: 300px;
  height: 300px;
  box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 0.5);
  text-align: center;
  margin: 3rem 0 0 auto;
}
.skills .skills-photoshop .skills-photoshop-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.skills .skills-photoshop .skills-photoshop-text p.photoshop {
  font-family: Futura;
  font-size: 1.6rem;
}
.skills .skills-photoshop .skills-photoshop-text p.photoshop-text {
  font-size: 1.2rem;
}
.skills .skills-design {
  border-radius: 50%;
  background-color: #ede8d6;
  position: relative;
  width: 300px;
  height: 300px;
  box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 0.5);
  text-align: center;
  margin: 0 300px 0 auto;
}
.skills .skills-design .skills-design-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.skills .skills-design .skills-design-text p.design {
  font-family: Futura;
  font-size: 1.6rem;
}
.skills .skills-design .skills-design-text p.design-text {
  font-size: 1.2rem;
}
.skills .skills-cording {
  border-radius: 50%;
  background-color: #ded9bd;
  position: relative;
  width: 300px;
  height: 300px;
  box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 0.5);
  text-align: center;
  margin: 0 600px 0 auto;
}
.skills .skills-cording .skills-cording-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.skills .skills-cording .skills-cording-text p.cording {
  font-family: Futura;
  font-size: 1.6rem;
}
.skills .skills-cording .skills-cording-text p.cording-text {
  font-size: 1.2rem;
}

.works h5.title {
  font-family: Academy Engraved LET;
  font-size: 4.8rem;
  color: #333331;
  border-bottom: 1px solid #333331;
  width: 60%;
  margin: 3rem 0 0 5rem;
}
.works .works-container {
  display: flex;
  justify-content: space-between;
  margin: 5rem;
}
.works .works-container .works-item {
  width: calc(100% / 3 - 10px);
  margin: 1rem;
}
.works .works-container .works-item:first-child {
  margin-left: 0;
}
.works .works-container .works-item:last-child {
  margin-right: 0;
}
.works .works-container .works-item p {
  background-color: #7b7a75;
  margin: 0;
  padding: 1rem 0;
  color: #fff;
  text-align: center;
  font-size: 1.4rem;
}

.footer {
  padding: 0;
  margin: 10rem 5rem 3rem;
}
.footer ul.contact {
  list-style: none;
  padding: 0;
}
.footer ul.contact li {
  display: inline-block;
}
.footer ul.contact li a {
  display: inline-block;
  line-height: 40px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #a8a698;
  font-size: 1.2rem;
  text-align: center;
}
.footer .name {
  display: flex;
  align-items: baseline;
}
.footer .name .footer-name {
  color: #333331;
  font-size: 1.2rem;
  margin: 0 0.5rem 0 0;
}
.footer .name .address {
  color: #333331;
  font-size: 1.2rem;
}

/*# sourceMappingURL=style.css.map */

/*# sourceMappingURL=style.css.map */
